<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Dealer4dealer\Pricelist\Api\PriceListRepositoryInterface" type="Dealer4dealer\Pricelist\Model\PriceListRepository"/>
	<preference for="Dealer4dealer\Pricelist\Api\Data\PriceListInterface" type="Dealer4dealer\Pricelist\Model\PriceList"/>
	<preference for="Dealer4dealer\Pricelist\Api\Data\PriceListSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
</config>
