<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
	<event name="customer_save_after_data_object">
		<observer instance="Dealer4dealer\Pricelist\Observer\Customer\SaveAfter" name="dealer4dealer_pricelist_customer_save_after"/>
	</event>
</config>